html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: gri;
  flex-direction: column;
  height: 100vh;
  /* grid-template-rows: 50% 50%; */
  /* justify-content: center;
  align-items: center; */
  
  
}

main {
  margin: 2rem;

  display: grid;
  grid-template-columns: 20% auto 30%;
}
aside {
  margin: .5rem;;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

img {
  border-radius: 50%;
  border-color: green;
  border-style: solid;
}

img-pic {
  border-radius: 50%;
  border-color: green;
  border-style: solid;
  
}

h1{
  margin-top: 1rem;
}

.card{
  text-align: center;
  display: ;
  justify-content: center;
  align-content: center;
  /* grid-template-columns: 50% 50%; */
  /* justify-content: center; */
  /* margin: 0rem;
  padding: 0rem; */
}

.status {
  display: flex;
  justify-content: end;
  margin: 10px 10px 0px 0px;
  color: lightgray;
}

.status-aside {
  display: flex;
  justify-content: start;
  margin: 10px 0px 0px 10px;
  color: lightgray;
}

.stars {
  color: rgb(218, 218, 27);
  margin-top: 10px;
}

.profile-sum {
  background-color: rgb(241, 241, 241);
  margin-bottom: 10px;
}

.icon{
  display: flex;
  justify-content: center;
  padding: 0rem;
  margin: 0;
}

.icon-aside{
  display: flex;
  justify-content: center;
  margin: 10;
}

#phone {
  border: none;
  border-radius: 0px;
  background-color: rgb(0, 128, 0);
  font-size: x-large;
}
#message {
  border: none;
  background-color: rgb(89, 182, 89);
  border-radius: 0px;
  font-size: x-large;
}

.btn {
  width: 100%;
  padding: .5rem;
  margin: 0rem;
}

#price {
  margin-top: -1rem;
}

#minutes-free {
  font-weight: bold;
  font-size: 1.5rem;
}

#profile-area {
 display: flex;
flex-direction: column;
justify-content: space-around;
}

summary-area {
  background-color: rgb(124, 124, 124);
}

#card-horizontal {
  display: grid;
  grid-template-columns: 40% 60%;
  width: ;
}

/* 768px is a common "breakpoint" width for tablets */
/* @media only screen and (min-width: 1000px) {
  body {

    display: grid;
    grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;

}
} */